# **Homework nycflights13**

In [1]:
#Install Package
install.packages("nycflights13")

Updating HTML index of packages in '.Library'

Making 'packages.html' ...
 done

In [2]:
#Load Library
library(nycflights13)
library(dplyr)
library(tidyverse)

Attaching package: ‘dplyr’


The following objects are masked from ‘package:stats’:

    filter, lag


The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union


Warning message in system("timedatectl", intern = TRUE):
“running command 'timedatectl' had status 1”
Warning message:
“Failed to locate timezone database”
── Attaching packages ─────────────────────────────────────── tidyverse 1.3.1 ──

✔ ggplot2 3.3.5     ✔ purrr   0.3.4
✔ tibble  3.1.5     ✔ stringr 1.4.0
✔ tidyr   1.1.4     ✔ forcats 0.5.1
✔ readr   2.0.2

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter()  masks stats::filter()
✖ purrr::flatten() masks jsonlite::flatten()
✖ dplyr::lag()     masks stats::lag()

In [3]:
#Show Data Sets
data(package = "nycflights13")

Package,Item,Title
<chr>,<chr>,<chr>
nycflights13,airlines,Airline names.
nycflights13,airports,Airport metadata
nycflights13,flights,Flights data
nycflights13,planes,Plane metadata.
nycflights13,weather,Hourly weather data

In [4]:
#Flights
glimpse(flights)

Rows: 336,776
Columns: 19
$ year           <int> 2013, 2013, 2013, 2013, 2013, 2013, 2013, 2013, 2013, 2…
$ month          <int> 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1…
$ day            <int> 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1…
$ dep_time       <int> 517, 533, 542, 544, 554, 554, 555, 557, 557, 558, 558, …
$ sched_dep_time <int> 515, 529, 540, 545, 600, 558, 600, 600, 600, 600, 600, …
$ dep_delay      <dbl> 2, 4, 2, -1, -6, -4, -5, -3, -3, -2, -2, -2, -2, -2, -1…
$ arr_time       <int> 830, 850, 923, 1004, 812, 740, 913, 709, 838, 753, 849,…
$ sched_arr_time <int> 819, 830, 850, 1022, 837, 728, 854, 723, 846, 745, 851,…
$ arr_delay      <dbl> 11, 20, 33, -18, -25, 12, 19, -14, -8, 8, -2, -3, 7, -1…
$ carrier        <chr> "UA", "UA", "AA", "B6", "DL", "UA", "B6", "EV", "B6", "…
$ flight         <int> 1545, 1714, 1141, 725, 461, 1696, 507, 5708, 79, 301, 4…
$ tailnum        <chr> "N14228", "N24211", "N619AA", "N804JB", "N668DN", "N394…
$ origin         <chr> "EWR", "LGA", "JFK", "JFK", "LGA", "EWR", "EWR", "LGA",…
$ dest           <chr> "IAH", "IAH", "MIA", "BQN", "ATL", "ORD", "FLL", "IAD",…
$ air_time       <dbl> 227, 227, 160, 183, 116, 150, 158, 53, 140, 138, 149, 1…
$ distance       <dbl> 1400, 1416, 1089, 1576, 762, 719, 1065, 229, 944, 733, …
$ hour           <dbl> 5, 5, 5, 5, 6, 5, 6, 6, 6, 6, 6, 6, 6, 6, 6, 5, 6, 6, 6…
$ minute         <dbl> 15, 29, 40, 45, 0, 58, 0, 0, 0, 0, 0, 0, 0, 0, 0, 59, 0…
$ time_hour      <dttm> 2013-01-01 10:00:00, 2013-01-01 10:00:00, 2013-01-01 1…

In [5]:
#Airlines
glimpse(airlines)

Rows: 16
Columns: 2
$ carrier <chr> "9E", "AA", "AS", "B6", "DL", "EV", "F9", "FL", "HA", "MQ", "O…
$ name    <chr> "Endeavor Air Inc.", "American Airlines Inc.", "Alaska Airline…

In [6]:
#Airports
glimpse(airports)

Rows: 1,458
Columns: 8
$ faa   <chr> "04G", "06A", "06C", "06N", "09J", "0A9", "0G6", "0G7", "0P2", "…
$ name  <chr> "Lansdowne Airport", "Moton Field Municipal Airport", "Schaumbur…
$ lat   <dbl> 41.13047, 32.46057, 41.98934, 41.43191, 31.07447, 36.37122, 41.4…
$ lon   <dbl> -80.61958, -85.68003, -88.10124, -74.39156, -81.42778, -82.17342…
$ alt   <dbl> 1044, 264, 801, 523, 11, 1593, 730, 492, 1000, 108, 409, 875, 10…
$ tz    <dbl> -5, -6, -6, -5, -5, -5, -5, -5, -5, -8, -5, -6, -5, -5, -5, -5, …
$ dst   <chr> "A", "A", "A", "A", "A", "A", "A", "A", "U", "A", "A", "U", "A",…
$ tzone <chr> "America/New_York", "America/Chicago", "America/Chicago", "Ameri…

In [7]:
#Planes
glimpse(planes)

Rows: 3,322
Columns: 9
$ tailnum      <chr> "N10156", "N102UW", "N103US", "N104UW", "N10575", "N105UW…
$ year         <int> 2004, 1998, 1999, 1999, 2002, 1999, 1999, 1999, 1999, 199…
$ type         <chr> "Fixed wing multi engine", "Fixed wing multi engine", "Fi…
$ manufacturer <chr> "EMBRAER", "AIRBUS INDUSTRIE", "AIRBUS INDUSTRIE", "AIRBU…
$ model        <chr> "EMB-145XR", "A320-214", "A320-214", "A320-214", "EMB-145…
$ engines      <int> 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, …
$ seats        <int> 55, 182, 182, 182, 55, 182, 182, 182, 182, 182, 55, 55, 5…
$ speed        <int> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, N…
$ engine       <chr> "Turbo-fan", "Turbo-fan", "Turbo-fan", "Turbo-fan", "Turb…

In [9]:
#Weather
glimpse(weather)

Rows: 26,115
Columns: 15
$ origin     <chr> "EWR", "EWR", "EWR", "EWR", "EWR", "EWR", "EWR", "EWR", "EW…
$ year       <int> 2013, 2013, 2013, 2013, 2013, 2013, 2013, 2013, 2013, 2013,…
$ month      <int> 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,…
$ day        <int> 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,…
$ hour       <int> 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 13, 14, 15, 16, 17, 18, …
$ temp       <dbl> 39.02, 39.02, 39.02, 39.92, 39.02, 37.94, 39.02, 39.92, 39.…
$ dewp       <dbl> 26.06, 26.96, 28.04, 28.04, 28.04, 28.04, 28.04, 28.04, 28.…
$ humid      <dbl> 59.37, 61.63, 64.43, 62.21, 64.43, 67.21, 64.43, 62.21, 62.…
$ wind_dir   <dbl> 270, 250, 240, 250, 260, 240, 240, 250, 260, 260, 260, 330,…
$ wind_speed <dbl> 10.35702, 8.05546, 11.50780, 12.65858, 12.65858, 11.50780, …
$ wind_gust  <dbl> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, 20.…
$ precip     <dbl> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,…
$ pressure   <dbl> 1012.0, 1012.3, 1012.5, 1012.2, 1011.9, 1012.4, 1012.2, 101…
$ visib      <dbl> 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10,…
$ time_hour  <dttm> 2013-01-01 06:00:00, 2013-01-01 07:00:00, 2013-01-01 08:00…

**Q1 : What are top 5 airline in 2013?**

Answer :    
1.United Air Lines Inc.

2.JetBlue Airways

3.ExpressJet Airlines Inc.

4.Delta Air Lines Inc.

5.American AirLines Inc.

In [10]:
flights %>%
left_join(airlines, by = "carrier") %>%
group_by(name) %>%
summarise(flights = n()) %>%
arrange(desc(flights)) %>%
head(5)

name,flights
<chr>,<int>
United Air Lines Inc.,58665
JetBlue Airways,54635
ExpressJet Airlines Inc.,54173
Delta Air Lines Inc.,48110
American Airlines Inc.,32729

**Q2 : What was the most canceled flight in 2013 ?**

Answer : ExpressJet Airlines Inc.

In [11]:
flights %>%
filter(is.na(dep_time)) %>%
left_join(airlines, by = "carrier") %>%
group_by(name) %>%
summarise(canceled = n()) %>%
arrange(desc(canceled)) %>%
head(5)

name,canceled
<chr>,<int>
ExpressJet Airlines Inc.,2817
Envoy Air,1234
Endeavor Air Inc.,1044
United Air Lines Inc.,686
US Airways Inc.,663

**Q3: What was the most aircraft manufacturer in 2013?**

Answer : BOEING

In [26]:
flights %>%
count(tailnum) %>%
inner_join(planes, by = "tailnum") %>%
select(tailnum, n, manufacturer)

result <- aggregate(pop_tai$n, by = list(manufacturer = pop_tai$manufacturer),sum) %>%
rename(count_flights = x) %>%
arrange(desc(count_flights)) %>%
head(5)

view(result)

tailnum,n,manufacturer
<chr>,<int>,<chr>
N10156,153,EMBRAER
N102UW,48,AIRBUS INDUSTRIE
N103US,46,AIRBUS INDUSTRIE
N104UW,47,AIRBUS INDUSTRIE
N10575,289,EMBRAER
N105UW,45,AIRBUS INDUSTRIE
N107US,41,AIRBUS INDUSTRIE
N108UW,60,AIRBUS INDUSTRIE
N109UW,48,AIRBUS INDUSTRIE
N110UW,40,AIRBUS INDUSTRIE
N11106,129,EMBRAER
N11107,148,EMBRAER
N11109,148,EMBRAER
N11113,138,EMBRAER
N11119,148,EMBRAER
N11121,154,EMBRAER
N11127,124,EMBRAER
N11137,112,EMBRAER
N11140,157,EMBRAER
N11150,136,EMBRAER
N11155,98,EMBRAER
N11164,143,EMBRAER
N11165,159,EMBRAER
N11176,142,EMBRAER
N11181,125,EMBRAER
N11184,136,EMBRAER
N11187,133,EMBRAER
N11189,140,EMBRAER
N11191,136,EMBRAER
N11192,154,EMBRAER
⋮,⋮,⋮
N984DL,58,MCDONNELL DOUGLAS AIRCRAFT CO
N985AT,29,BOEING
N985DL,63,MCDONNELL DOUGLAS AIRCRAFT CO
N986AT,24,BOEING
N986DL,73,MCDONNELL DOUGLAS AIRCRAFT CO
N987AT,28,BOEING
N987DL,55,MCDONNELL DOUGLAS AIRCRAFT CO
N988AT,37,BOEING
N988DL,55,MCDONNELL DOUGLAS AIRCRAFT CO
N989AT,66,BOEING
N989DL,89,MCDONNELL DOUGLAS AIRCRAFT CO
N990AT,71,BOEING
N990DL,56,MCDONNELL DOUGLAS AIRCRAFT CO
N991AT,25,BOEING
N991DL,92,MCDONNELL DOUGLAS AIRCRAFT CO
N992AT,38,BOEING
N992DL,57,MCDONNELL DOUGLAS AIRCRAFT CO
N993AT,47,BOEING
N993DL,55,MCDONNELL DOUGLAS AIRCRAFT CO
N994AT,31,BOEING
N994DL,61,MCDONNELL DOUGLAS CORPORATION
N995AT,18,BOEING
N995DL,57,MCDONNELL DOUGLAS AIRCRAFT CO
N996AT,29,BOEING
N996DL,102,MCDONNELL DOUGLAS AIRCRAFT CO
N997AT,44,BOEING
N997DL,63,MCDONNELL DOUGLAS AIRCRAFT CO
N998AT,26,BOEING
N998DL,77,MCDONNELL DOUGLAS CORPORATION
N999DN,61,MCDONNELL DOUGLAS CORPORATION

**Q4 : What are the top 5 months in NYC 2013?**

Answer : 

1.July 2013

2.August 2013

3.October 2013

4.March 2013

5.May 2013

In [174]:
flights %>%
count(month) %>%
rename(count=n) %>%
arrange(desc(count)) %>%
head(5)

month,count
<int>,<int>
7,29425
8,29327
10,28889
3,28834
5,28796

**Q5 : Which airlines had top 5 arrived delay in 2013?**

Answer : Top 5 arrived delay in 2013

1.Virgin America

2.Virgin America

3.United Air Lines Inc.

4.American Airlines Inc.

5.Alaska Airlines Inc.

In [39]:
flights %>%
select(carrier, arr_delay,month) %>%
arrange(arr_delay) %>%
head(5) %>%
inner_join(airlines, by="carrier")

carrier,arr_delay,month,name
<chr>,<dbl>,<int>,<chr>
VX,-86,5,Virgin America
VX,-79,5,Virgin America
UA,-75,5,United Air Lines Inc.
AA,-75,5,American Airlines Inc.
AS,-74,5,Alaska Airlines Inc.

# **PostgreSQL Database**

In [43]:
#Install Package
install.packages("RPostgreSQL")

Warning message in install.packages("RPostgreSQL"):
“installation of package ‘RPostgreSQL’ had non-zero exit status”
Updating HTML index of packages in '.Library'

Making 'packages.html' ...
 done

In [44]:
#Load Library
library(RPostgreSQL)

ERROR: ERROR: Error in library(RPostgreSQL): there is no package called ‘RPostgreSQL’

In [45]:
#Connect Server
con <- dbConnect(
    PostgreSQL(),
    host = "arjuna.db.elephantsql.com",
    dbname = "llgdruhc",
    port = 5432,
    user = "llgdruhc",
    password = "wBYMYJshZyuhP5UbZWGGQCFcK5MSCwKV"
)

ERROR: ERROR: Error in dbConnect(PostgreSQL(), host = "arjuna.db.elephantsql.com", dbname = "llgdruhc", : could not find function "dbConnect"

In [47]:
#Check List Table In Server
dblisttables(con)

ERROR: ERROR: Error in dblisttables(con): could not find function "dblisttables"

In [ ]:
#Create dataframe
food_fav <- data.frame(
    id = 1:5,
    food_names = c("Somtam","Tomyum","Noodle","Salad","Steak"),
    restaurant = c("Sompong food","Kai Baan Cafe","Bamboo restaurant","Por Patep","MK restaurant")
)

In [ ]:
#Save Data
dbWriteTable(con,"My_food",food_fav)

In [ ]:
#Get data from server
df <- dbGetQuery(con, "SELECT * FROM My_food")

In [ ]:
#Close Connection
dbDisconnect(con)