# **HW Sprint 09 - Essential Python for Data Analyst**
# **2.ML**

**Lung cancer Prediction**

In [ ]:
#import libraries
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.preprocessing import LabelEncoder

In [ ]:
#read data
df = pd.read_csv('/survey lung cancer.csv')
df.head()

,GENDER,AGE,SMOKING,YELLOW_FINGERS,ANXIETY,PEER_PRESSURE,CHRONIC DISEASE,FATIGUE,ALLERGY,WHEEZING,ALCOHOL CONSUMING,COUGHING,SHORTNESS OF BREATH,SWALLOWING DIFFICULTY,CHEST PAIN,LUNG_CANCER
0,M,69,1,2,2,1,1,2,1,2,2,2,2,2,2,YES
1,M,74,2,1,1,1,2,2,2,1,1,1,2,2,2,YES
2,F,59,1,1,1,2,1,2,1,2,1,2,2,1,2,NO
3,M,63,2,2,2,1,1,1,1,1,2,1,1,2,2,NO
4,F,63,1,2,1,1,1,1,1,2,1,2,2,1,1,NO

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 309 entries, 0 to 308
Data columns (total 16 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   GENDER                 309 non-null    object
 1   AGE                    309 non-null    int64
 2   SMOKING                309 non-null    int64
 3   YELLOW_FINGERS         309 non-null    int64
 4   ANXIETY                309 non-null    int64
 5   PEER_PRESSURE          309 non-null    int64
 6   CHRONIC DISEASE        309 non-null    int64
 7   FATIGUE                309 non-null    int64
 8   ALLERGY                309 non-null    int64
 9   WHEEZING               309 non-null    int64
 10  ALCOHOL CONSUMING      309 non-null    int64
 11  COUGHING               309 non-null    int64
 12  SHORTNESS OF BREATH    309 non-null    int64
 13  SWALLOWING DIFFICULTY  309 non-null    int64
 14  CHEST PAIN             309 non-null    int64
 15  LUNG_CANCER            309 non-null    object
dtypes: int64(14), object(2)
memory usage: 38.8+ KB

In [ ]:
df.isna().sum()

GENDER                   0
AGE                      0
SMOKING                  0
YELLOW_FINGERS           0
ANXIETY                  0
PEER_PRESSURE            0
CHRONIC DISEASE          0
FATIGUE                  0
ALLERGY                  0
WHEEZING                 0
ALCOHOL CONSUMING        0
COUGHING                 0
SHORTNESS OF BREATH      0
SWALLOWING DIFFICULTY    0
CHEST PAIN               0
LUNG_CANCER              0
dtype: int64

In [ ]:
df.head()

,GENDER,AGE,SMOKING,YELLOW_FINGERS,ANXIETY,PEER_PRESSURE,CHRONIC DISEASE,FATIGUE,ALLERGY,WHEEZING,ALCOHOL CONSUMING,COUGHING,SHORTNESS OF BREATH,SWALLOWING DIFFICULTY,CHEST PAIN,LUNG_CANCER
0,M,69,1,2,2,1,1,2,1,2,2,2,2,2,2,YES
1,M,74,2,1,1,1,2,2,2,1,1,1,2,2,2,YES
2,F,59,1,1,1,2,1,2,1,2,1,2,2,1,2,NO
3,M,63,2,2,2,1,1,1,1,1,2,1,1,2,2,NO
4,F,63,1,2,1,1,1,1,1,2,1,2,2,1,1,NO

In [ ]:
df['GENDER'].value_counts()

M    162
F    147
Name: GENDER, dtype: int64

In [ ]:
df = df.drop(df[df['GENDER']=='Other'].index,axis=0)

In [ ]:
cols = ['GENDER','LUNG_CANCER']

In [ ]:
for col in cols: print(f"---{col}--- \n{df[col].value_counts()}")

---GENDER---
M    162
F    147
Name: GENDER, dtype: int64
---LUNG_CANCER---
YES    270
NO      39
Name: LUNG_CANCER, dtype: int64

In [ ]:
for col in cols:
    label = LabelEncoder()
    label = label.fit_transform(df[col])
    df.drop(col, axis= 1, inplace=True)
    df[col] = label

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 309 entries, 0 to 308
Data columns (total 16 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   AGE                    309 non-null    int64
 1   SMOKING                309 non-null    int64
 2   YELLOW_FINGERS         309 non-null    int64
 3   ANXIETY                309 non-null    int64
 4   PEER_PRESSURE          309 non-null    int64
 5   CHRONIC DISEASE        309 non-null    int64
 6   FATIGUE                309 non-null    int64
 7   ALLERGY                309 non-null    int64
 8   WHEEZING               309 non-null    int64
 9   ALCOHOL CONSUMING      309 non-null    int64
 10  COUGHING               309 non-null    int64
 11  SHORTNESS OF BREATH    309 non-null    int64
 12  SWALLOWING DIFFICULTY  309 non-null    int64
 13  CHEST PAIN             309 non-null    int64
 14  GENDER                 309 non-null    int64
 15  LUNG_CANCER            309 non-null    int64
dtypes: int64(16)
memory usage: 41.0 KB

In [ ]:
#prepare data
X = df.drop(["SMOKING","LUNG_CANCER"],axis = 1)
y = df["SMOKING"]

#split data
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size = 0.25, random_state = 24 #set.seed()
)

In [ ]:
print(X_train.shape,
      y_train.shape,
      X_test.shape,
      y_test.shape)

(231, 14) (231,) (78, 14) (78,)

In [ ]:
#train model
model = LinearRegression()
model.fit(X_train, y_train)

#test model
p = model.predict(X_test)
print(p)

[1.30213096 1.71036244 1.60722324 1.57235769 1.48403567 1.70239948
 1.6342834  1.49117712 1.73592728 1.80766748 1.47636334 1.75003885
 1.65127739 1.56285137 1.56428579 1.42653778 1.52680532 1.75777017
 1.4083731  1.71307665 1.40231089 1.39655275 1.71222909 1.55048448
 1.27289641 1.41163484 1.74560118 1.48861003 1.57245582 1.31739586
 1.9398369  1.92919164 1.90912257 1.47610593 1.5126825  1.78674043
 1.46416659 1.59537468 1.52626354 1.72717971 1.58770235 1.54305762
 1.92543407 1.42951999 1.59641464 1.52626354 1.87532885 1.61761186
 1.71546624 1.61115603 1.93015728 1.7330888  1.48806021 1.47432086
 1.73524608 1.63948507 1.31739763 1.4084644  1.57649533 1.68848258
 1.70382723 1.4917077  1.30257062 1.75771118 1.93103355 1.47722266
 1.31962279 1.55661346 1.4147273  1.569492   1.59651845 1.51162701
 1.26392326 1.47270701 1.86312082 1.73592728 1.62414041 1.56780825]

In [ ]:
#model evaluation
model.score(X_test, y_test)

0.02319076156929334

In [ ]:
#desicion tree regression
tree_model = RandomForestRegressor()

tree_model.fit(X_train, y_train)

p = tree_model.predict(X_test)
print(p)

test_r2 = tree_model.score(X_test, y_test)
print(test_r2)

[1.68 1.46 1.74 1.06 1.81 1.42 1.35 1.47 1.64 1.83 1.84 1.89 1.36 1.81
 1.62 1.26 1.91 1.3  1.41 1.34 1.19 1.47 1.62 1.92 1.44 1.65 1.71 1.34
 1.32 1.33 1.75 1.93 1.82 1.51 1.95 1.75 1.04 1.81 1.45 1.71 1.76 1.85
 1.9  1.85 1.89 1.45 1.76 1.49 1.79 1.72 1.73 1.34 1.19 1.89 1.43 1.69
 1.64 1.1  1.21 1.99 1.97 1.46 1.15 1.87 1.6  1.39 1.11 1.62 1.1  1.16
 1.92 1.37 1.06 1.75 1.61 1.64 1.9  1.52]
0.38727698412698386